/* Example jQuery Mobile File
*File Name: AdvancedWeb_MidtermInClass main.css
*Author: Benjamin Vanarragon
*Personality Survey
*Date October 16/2014
*Description: This is a one page website designed with the jquery mobile api for testing your personilty through a survey
* This is the CSS file for the webpage
*/
#homeStuff{
    margin-left: 10%;
    margin-right:10%;
}

@media (max-width: 400px) {
  a{
      text-indent:-9999px;
    overflow:hidden;

  }  
}

#center{
    text-align:center;
    font: 30px Arial;
}

.images{
    display:block;
    margin: 15px auto;
    

}

#logo{
    display:block;
    margin: 0px auto;
    width:40%;
    height:33%;

}

