body {
}

#homeStuff{
    margin-left: 10%;
    margin-right:10%;
}

@media (max-width: 400px) {
  a{
      text-indent:-9999px;
    overflow:hidden;

  }  
}

#center{
    text-align:center;
    font: 30px Arial;
}